#app {
    display: grid;
    grid-template-columns: 36% 64%;
    height: 100vh;
    background-color: var(--shape-body);
    
    padding:4rem;
}

aside{
    background-image: url(../assets/img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
    height: 100vh;
    margin: 2rem 4rem 2rem 2rem;

    & .aside-container{
        max-width: 40rem;
    }

}

main{
    overflow: auto;
    padding: 8rem;

    & .main-container{
       max-width: 82rem;
       
    }
}